
.cellHor
          {
              margin: 0 0 auto auto;
              position:relative;
              text-align:center;
                         
                        
           }
.cell {
	        background-color: black;
                cursor: pointer;
                display:inline; 
                padding: 10px;
                border: 1px solid;  
		font-size: 11px;
		width:11px;
                   }
                        
.alive {
               background-color: green;
                        
                      }
.container {

		max-width:90% !important;
		}
                        
                        
                     
        